protected/config/main.php
protected/config/console.php
protected/runtime/
protected/data/
/assets/
/themes/clasic/views
*~
*.log
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
